.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

sub {
  margin: 20px 0 0 0;
  text-align: center;
  width: 70%;
}

.form {
  width: 70%;
  margin: 30px 0px 0px 0px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1,
h2 {
  font-size: large;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.info-container h2 {
  text-align: left;
}

.form-input-checkbox {
  margin: 20px 0px;
}

.politics-checkbox {
  margin: 30px 0px;
}

.unselected {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: 10px -5px;
  justify-content: space-between;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px;
  width: 50%;
}

.input-value {
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
}

.form-input-button {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 30px 0px;
}

button {
  padding: 10px;
  width: 100%;
  border: 0px;
  background-color: #000000;
  color: white;
}

select:invalid {
  color: rgb(109, 109, 109);
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: rgb(109, 109, 109);
}

.form-campos-error {
  visibility: hidden;
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
